@import url('global.css');

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.return-home-button {
        width: clamp(100px, 70%, 300px);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--text-color);
        padding: 1rem;
        color: var(--text-color);
        font-size: 1.2em;
        text-transform: uppercase;
        border-radius: 1rem;
}